html,body{
  margin: 0;
  padding: 0;
  background-color: #D1D1D1;
  height: 100%;
  background-image: url('../img/wood.jpg');
  background-repeat: repeat-x;
}

h1,h2,h3{
  margin: 0;
  padding: 0;
}

.mobile-only{
  visibility: hidden;
}

.comp-only .comp-nav{
  display: flex;
  justify-content: center;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}
/*end of sidebar-wrapper*/

/*start of header*/
header{
  display: flex;
}
.header-container{
  background-color: rgba(193, 209, 172, 0.5);
  width: 100%;
  display: flex;
}
header .consultation{
  text-align: right;
}
/*end of header*/

/*start of comp-only navbar*/
.navbar-default{
  background-color: rgba(193, 209, 172, 0.5);
  min-height: 80px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0;
  margin: 0;
}

.navbar-default .navbar-nav>li>a{
  color: white;
  font-size: 24px;
  transition: all 0.6s ease;
  padding-right: 25px;
}
/*end of comp-only navbar*/

footer{
  text-align: center;
  color: #828282;
  font-size: 2.5em;
}

footer .copyright{
  padding-top: 0.75%;
}

.sm-icons {
  padding-top: 0.75%;
}

.sm-icons i {
  color: #828282;
  font-size: 1.25em;
  padding: 0 0.5%;
  transition: all 0.4s;
}

.sm-icons i:hover{
  color: #0D3042;
  transform: scale(2);
}

.contact-info p {
  padding-top: 3%;
}

@media (max-width: 968px){
  /*start of header*/
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;
  }
  header h1{
    font-size: 6vw;
    text-align: center;
  }
  header h2{
    font-size: 6vw;
    text-align: center;
  }

  /*start of footer*/
  footer{
    font-size: 1em;
  }
  footer .copyright{
    padding-top: 5%;
  }
  /*end*/

  /*making sure oliver-thomas name is visible on mobile*/
  .navbar-default{
    min-height: 1vh;
  }

  .navbar-default .navbar-brand{
    color: white;
    font-size: 10vw;
  }
  /*end*/

  .hundy{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*comp-only and mobile-only section*/
  .mobile-only{
    visibility: visible;
  }
  .comp-only{
    visibility: hidden;
    display: none;
  }
  /*end*/
}
