html,body{
  margin: 0;
  padding: 0;
  background-color: #D1D1D1;
  height: 100%;
  background-image: url('../img/black_linen.png');
  background-repeat: repeat;
  font-family: 'Crimson Text', sans-serif;
}

h1,h2,h3{
  margin: 0;
  padding: 0;
}

.mobile-only{
  visibility: hidden;
}

.comp-only .comp-nav{
  display: flex;
  justify-content: center;
}

.active-wrapper{
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: rgba(193, 209, 172, 0.95);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-size: 5vw;
    /*color: light_gray;*/
    /*text-shadow: 1px 1px #274A26;*/
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}
/*end of sidebar-wrapper*/

/*start of header*/
header{
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: rgba(193, 209, 172, 0.5);
  color: white;
}
header .brand-name{
  padding-left: 0.35%;
  /*padding-top: 0.25%;*/
  display: inline-flex;
  align-items: flex-end;
}
.brand-name h1{
  padding-bottom: 0.5%;
}
.brand-name img{
  max-width: 6vw;
  max-height: 6vh;
  align-self: center;
}
header .consultation{
  text-align: right;
  padding-right: 0.35%;
}
/*end of header*/

/*start of carousel*/
.carousel-img-1{
  background-image: url('../img/yose-banner.jpg');
  /*background-position: -1.4vw -50vh;*/
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}

.carousel-img-2{
  background-image: url('../img/vineyard.jpg');
  /*background-position: -1.4vw -50vh;*/
  background-position: bottom;
  background-size: cover;
  min-height: 60vh;
}

/*start of comp-only navbar*/
.navbar-default{
  background-color: rgba(193, 209, 172, 0.5);
  min-height: 80px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0;
  margin: 0;
}

.navbar-default .navbar-nav>li>a{
  /*color: #212021;*/
  color: white;
  opacity: 0.99;
  font-size: 24px;
  transition: all 0.6s ease;
  padding-right: 25px;
}
/*end of comp-only navbar*/

/*start of about section*/
#about{
  color: white;
  /*font-size: 1.2vw;*/
  font-size: 24px;
}

#about .about-header{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 2%;
  font-weight: 700;
}
.about-header h2{
  padding-top: 0.35%;
}

#about .about-text{
  background-color: rgba(193, 209, 172, 0.5);
  padding: 2%;
  margin-top: 4%;
}

#about .about-img{
  margin-top: 4%;
  margin-left: 13%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: rgba(193, 209, 172, 0.5);
  padding: 2% 1%;
}

/*start of footer*/

footer{
  text-align: center;
  color: #828282;
  font-size: 1.5em;
  margin-top: 6%;
  padding: 0.25%;
  background-color: #292828;
}

footer .copyright{
  padding-top: 0.75%;
}

.sm-icons {
  padding-top: 0.75%;
}

.sm-icons i {
  color: #828282;
  font-size: 1.25em;
  padding: 0 0.5%;
  transition: all 0.4s;
}

.sm-icons i:hover{
  color: #0D3042;
  transform: scale(2);
}

.contact-info p {
  padding-top: 3%;
}
@media (max-width: 1024px){
/*for smaller screens, mobile*/
@media (max-width: 1200px) {
  #aboutTheTeam{
    margin-left: 0;
  }
}
@media (max-width: 968px){
  /*start of header*/
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 450px;
    background-color: rgba(193, 209, 172, 0);
  }
  header .brand-name{
    background-color: rgba(193, 209, 172, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 2%;
    margin: 0 auto;
    text-shadow: 2px 1px black;
  }
  header .consultation{
    background-color: rgba(193, 209, 172, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 2% 0;
    margin: 0 auto;
    text-shadow: 2px 1px black;
  }
  header h1{
    font-size: 6vw;
    text-align: center;
  }
  header h2{
    font-size: 6vw;
    text-align: center;
  }
  /*end of header*/

  /*start of carousel*/
  .carousel{
    height: 450px;
  }
  .carousel-img-1{
    background-position: 0vw -9vh;
    background-size: 250% 150%;
    /*background-position: top;*/
  }
  .carousel-inner{
    height: 100%;
  }
  .carousel-img-mobile{
    height: 100%;
  }

  /*start of about*/
  #about{
    font-size: 5vw;
    /*font-size: 24px;*/
    padding: 0 6%;
    padding-top: 5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .about-header{
    padding-top: 0;
    text-align: center;
  }
  .about-header h2{
    padding-top: 8%;
    font-size: 8vw;
    padding-bottom: 5%;
  }
  #about .about-img{
    margin-left: 0%;
    max-width: 90vw;
  }
  /*end*/

  /*start of footer*/
  footer{
    font-size: 4vw;
  }
  footer .copyright{
    padding-top: 1vh;
  }
  /*end*/

  /*making sure oliver-thomas name is visible on mobile*/
  .navbar-default{
    min-height: 1vh;
  }

  .navbar-default .navbar-brand{
    color: white;
    font-size: 10vw;
  }
  /*end*/

  /*comp-only and mobile-only section*/
  .mobile-only{
    visibility: visible;
  }
  .comp-only{
    visibility: hidden;
    display: none;
  }
  /*end*/
}
